name: Unit Tests (Reusable)

on:
  workflow_call:
    inputs:
      build_artifact:
        description: "Name of build artifact to download"
        required: true
        type: string

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test message
        run: echo "Build artifact is ${{ inputs.build_artifact }}"
